body{
   background-color: black; 
}

.section-backgrounds{
   display: flex;
   flex-direction: column;
    background-image: url("https://www.aht.li/3849851/Seamless-Photoshop-Paper-Pattern.png");
 max-width: 90%;
padding: 10px;
margin:auto
;
 h1{
display: flex;
margin: auto;
 }

.article-backgrounds{
display: flex;
flex-direction: row;
width: 90%;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
margin-top: 60px;


.bloc-article-perso{
   display: flex;
   flex-direction: column;
   overflow: hidden;
   margin-left: 20px;
   margin-right: auto;
   margin-top: auto;
   margin-left: auto;
   // margin-left: 10px;
   border-top: 2px solid white;
   border-left: 2px solid white;
   border-right: 2px solid white;
   background-color: white;
   width: 300px;
   height: 438.3px;

   .img-Adam{
      position: absolute;
      width: 150px;
      top: 420px;
      left: 110px;
      transition:all 1000ms ease-in-out; 
      -webkit-transition:all 1000ms ease-in-out; 
    transition-delay:500ms;
    -webkit-transition-delay:500ms;
    }

    .img-Angie{
      position: absolute;
      width: 150px;
      top: 50px;
      left: 820px;
transform: scaleX(-1);
      transition:all 1000ms ease-in-out; 
      -webkit-transition:all 1000ms ease-in-out; 
    transition-delay:500ms;
    -webkit-transition-delay:500ms;
    }
    .img-Vaggie{
      position: absolute;
      width: 150px;
      top: 400px;
      right: 120px;
      transform: scaleX(-1);
      transition:all 1000ms ease-in-out; 
      -webkit-transition:all 1000ms ease-in-out; 
    transition-delay:500ms;
    -webkit-transition-delay:500ms;
    }

    .img-Val{
      position: absolute;
      width: 150px;
      top: 600px;
      left: 120px;
      transform: scaleX(-1);
      transition:all 1000ms ease-in-out; 
      -webkit-transition:all 1000ms ease-in-out; 
    transition-delay:500ms;
    -webkit-transition-delay:500ms;
    }
    .img-Charlie{
      position: absolute;
      width: 150px;
      top: 960px;
      left: 570px;
      transition:all 1000ms ease-in-out; 
      -webkit-transition:all 1000ms ease-in-out; 
    transition-delay:500ms;
    -webkit-transition-delay:500ms;
    }

    .img-Rosie{
      position: absolute;
      width: 150px;
      top: 560px;
      right: 130px;
      transition:all 1000ms ease-in-out; 
      -webkit-transition:all 1000ms ease-in-out; 
    transition-delay:500ms;
    -webkit-transition-delay:500ms;
    }
   .img-bloc-perso{
      width: 300px;
   }

   .button-message-perso{
      display: flex;
      margin-top: -35px;
      cursor: pointer;
span{
   width: 100%;
   background-color: white;
   height: 30px;
   text-align: center;
   padding-top: 5px;
}
   }

   .message-perso{  
      width: 280px;
      height: 385px;
    background-color: white;
      text-align: justify;
      padding: 10px; 
       overflow: auto;
       transition:all 1000ms ease-in-out; 
       -webkit-transition:all 1000ms ease-in-out; 
     transition-delay:500ms;
     -webkit-transition-delay:500ms;
   }
 }
}
}

